* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #343434;
}

:root {
    --secondary: #eeeeee;
    --text: #565656;
}

.CV {
    width: 1000px;
    padding: 72px;
    margin:  120px auto;
    background-color: #fafafa;
    box-shadow: 60px 80px 140px #a6a6a6;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

a:hover {
    color: #f1bb25;
}

.header-candidate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    border-bottom: 8px solid var(--secondary);
}

.header-candidate__photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 360px;
    filter: grayscale(100%);
}

.header-candidate__name {
    font-size: 2.4rem;
}

.header-candidate__position {
    font-size: 1.2rem;
    color: var(--text);
    font-weight: normal;
    margin-top: 6px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    margin-bottom: 24px;
    position: relative;
}

.contact__icon {
    height: 24px;
    filter: invert(20%);
}

.contact__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
}

.contact__title {
    font-size: 0.9rem;
}

.contact__subtitle {
    font-size: 0.9rem;
    color: var(--text);
}

.contact__link {
    font-size: 0.9rem;
    color: var(--text);
    text-decoration: none;
}

.contact__decoration {
    width: 112px;
    height: 491px;
    background-color: #e5e5e5;
    position: absolute;
    left: -72px;
    bottom: 0;
}

.icon__link {
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all 0ms linear;
}

@keyframes changeScale {
    from {
        transform: scale(1) rotate(5deg);
    }

    to {
        transform: scale(1.3) rotate(-10deg);
    }
}

.icon__link-cta {
    animation-timing-function: linear ;
    animation-duration: 0.8s;
    animation-name: changeScale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: invert(50%);
}

.icon__link-cta:hover {
    animation-play-state: paused;
    filter: invert(20%);
}

.icon__link:hover {
    transform: scale(1.2);
    transition: 0.3s all 0ms linear;
}

.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 56px;
}

.sidebar-left,
.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-left__section,
.sidebar-right__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-left__section:not(:last-child),
.sidebar-right__section:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 2px solid var(--secondary);
}

.section__information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.information__list {
    list-style-type: circle;
    list-style-position: inside;
}

.section__title {
    font-size: 1.6rem;
    background-color: var(--secondary);
    padding: 0 16px;
}

.information__list-title {
    font-size: 0.9rem;
    font-style: italic;
}

.information__list-item {
    color: var(--text);
    margin: 4px 0 0 12px;
}

.list-item__link {
    cursor: pointer;
    text-decoration: none;
}

.list-item__note {
    display: block;
    margin: 4px 0 12px 26px;
    color: #9f9f9f;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
}

.list-item__note-fillGap {
    margin: 18px 0 0 0;
    display: block;
}

.languages {
    font-size: 1.2rem;
    color: #343434;
    margin-left: 1px;
    list-style-type: disc;
}

.section__quote {
    color: #a6a6a6;
}

.section__description {
    color: var(--text);
    line-height: 1.3rem;
}

.description-impact {
    font-weight: bold;
}

.description__picture {
    width: 520px;
    height: 260px;
    object-fit: cover;
    object-position: 1% -5px;
    filter: grayscale(100%);
    padding-left: 24px;
    border-left: 8px solid var(--secondary);
}

.footer {
    border-top: 8px solid var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    background-color: #f2f2f2;
}

.section__information-footer {
    font-size: 0.9rem;
    color: #9f9f9f;
}

.logo__reference {
    width: 80px;
    margin-top: 2px;
    margin-bottom: -2px;
}